.layoutStyle {
    border-radius: 8px;
    overflow: hidden;
    width: calc(100% - 8px);
    max-width: calc(100% - 8px);
    background-color: white;
}

.styleRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.BannerCivil {
    display: block;
    width: 940px;
    height: 490px;
    position: relative;
}

.botonCivil {
    background-color: #C59A4C;
    color: white;
    border-color: #707070;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    font-size: 16px;
    font-weight: 700;
    line-height: 0.3;
    height: 40px;
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    left: 559px;
    top: 204px;
}

.botonCivil:hover {
    filter: opacity(0.9);
}

.textoCivil {
    display: block; 
    line-height: 24px;
    margin-bottom: 20px;
}

.paddingRowC {
    padding: 20px 0px 0;
}

.listStyle1C {
    border: 0;
}

@media screen and (min-width: 375px) and (max-width:480px) {

    .styleRow {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

    .BannerCivil {
        width: 30%;
        height: auto;
    }

    .botonCivil {
        left: 87px;
        top: 385px;
        padding: 18px;
        line-height: 0.1;
    }

    .tituloPenal {
        font-size: 25px;
    }

    .textoCivil {
        display: block; 
        width: 320px;
        margin: 50px -270px;
    }

    .paddingRowC {
        padding: 20px 0;
    }

    .listStyle1C {
        border: 0;
        margin: 180px -50px 0px;
    }
}